.hero_section {
  padding: 60px 0;
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  & .container{
    padding: 90px 0 150px;
  }
  & .circle-shape{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 30%;
  }
  & .hero-bg-inner {
    position: absolute;
    z-index: -2;
    top: -40%;
    left: -1rem;
    width: 130%;
    height: 100%;
    transform: rotate(-12deg);
    border-bottom-left-radius: 6rem;
    background: linear-gradient(90deg, $primary2 1%, $primary1) !important;
  }
  & .hero_center_img {
    position: relative;
    z-index: 9;
    max-width: 100%;
  }
  & .hero_content {
    & h1 {
      color: #fff;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 60px;
      line-height: 70px;
      margin-bottom: 10px;
      letter-spacing: 4px;
      & span {
        color: $white;
        font-weight: 900;
      }
    }
    & p {
      color: $white;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 30px;
      line-height: 30px;
      max-width: 500px;
    }
    & > span {
      color: $white;
      font-weight: 600;
      font-size: 17px;
      font-style: italic;
    }
  }
}
